<div class="container m-5 content">
    <div class="d-flex justify-content-between mb-4">
        <button class="nav-button" (click)="prevMonth()">&#9664;</button>
        <span class="month-year">{{ getCurrentMonthYear() }}</span>
        <button class="nav-button" (click)="nextMonth()">&#9654;</button>
    </div>
    <div class="d-flex">
        <div class="p-2 m-2 div-button">
            <button class="button-novo" (click)="openModal()">Novo</button>
        </div>
    </div>
    <div class="table-responsive mt-4">
        <table class="table table-striped table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Descrição</th>
                    <ng-container *ngFor="let day of daysOfMonth">
                        <th>{{ day }}</th>
                    </ng-container>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let habito of habitos; let i = index">
                    <td>{{ habito.id }}</td>
                    <td>{{ habito.descricao }}</td>
                    <ng-container *ngFor="let day of daysOfMonth">
                        <td>
                            <input 
                                type="checkbox" 
                                [checked]="isHabitDone(habito.id, day)" 
                                (change)="toggleHabitDay(habito.id, day)"
                                [disabled]="!isDayInMonth(day)"
                            />
                        </td>
                    </ng-container>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal" tabindex="-1" [class.show]="isModalOpen" *ngIf="isModalOpen">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Novo Hábito</h5>
          <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="submitForm()">
            <div class="mb-3">
              <label for="descricao" class="form-label">Descrição</label>
              <input type="text" id="descricao" [(ngModel)]="newHabit.descricao" name="descricao" class="form-control" required>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="closeModal()">Fechar</button>
              <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  